<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Build the fucking React App</title>
	</head>
	<body>
		<main>
			<div style="text-align: center;">
				<h1>You need to build react app first</h1>
				<video preload="auto" loop="" autoplay="" id="content" ">
					<source src="https://c.tenor.com/yCC38OsGnSsAAAPs/sportsmanias-technical-difficulties.webm" type="video/webm">
				</video>
			</div>
		</main>
	</body>
</html>
